<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <img width="75px" class="logo" src="{{ site.baseurl }}/images/BBO-Logo.png" />
            <div class="inner">                
                <h2>BERLINER BLOCKFLÖTEN ORCHESTER</h2>
                <p>an der Musikschule „Paul Hindemith“ Neukölln</p>
                <ul class="icons-red">
                    <li><a href="http://facebook.com/Berliner-Blockfl%C3%B6ten-Orchester-BBO-539437959484635" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://youtube.com/channel/UCZqZoQhc6dwRziq2KbA0Ung" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
